:root {
  --color--orange: #ffd595d0;
  --color--purple: #f9a7fd;
  --color--purple--dark: #531c9cc9;
  --color-dark--1: #2d3439c2;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color--letters: #feffda;
  --color--links: #280426;
  --background: #6f6ec9d7;
}
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Josefin", sans-serif;
  background-image: linear-gradient(to right, #aab3e2, #fffec9);
}
/* ================================================================= */
/* header */
header {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 1rem;
  height: 10rem;
}
.title {
  text-align: center;
  margin: 0 5rem;
  font-size: 2rem;
  color: var(--color--purple--dark);
  font-weight: bolder;
  letter-spacing: 0.3rem;
}
.banner__user {
  position: absolute;
  top: 0;
  color: var(--color--letters);
  margin: 1rem;
  padding: 1.4rem;
  border-radius: 5px;
  font-size: 2rem;
  background-color: var(--background);
}
.touch_map {
  z-index: 10000;
  top: 50%;
  right: 50%;
  font-size: 2.5rem;
  transform: translate(50%, 50%);
}
aside {
  position: relative;
}
/* MAP */
#map {
  pointer-events: none;
  overscroll-behavior-y: none;
  position: relative;
  border: 2px solid #2c182c0a;
  background-color: var(--color--orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin: 3rem 5rem 0 5rem;
  height: 40rem;
  z-index: 1;
}
/* =============animation */

.animation {
  height: 13rem;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
  animation-timing-function: ease-out;
  animation-name: logo;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ============================== */

/* container */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem 1rem 5rem;
  color: var(--color--letters);
  line-height: 1.2;
  display: flex;

  overscroll-behavior-y: none;
  /* The overscroll-behavior-y property is a CSS property that controls how the browser behaves when reaching the top or bottom boundary of a scrolling area in the vertical direction. It has three possible values: auto, contain, and none.

auto: The default value. It allows the browser to perform the default action, such as a bounce effect or a page refresh, when the boundary is reached. It also allows the scrolling to propagate to the parent element if it is also scrollable. This is called scroll chaining.
contain: It prevents scroll chaining, meaning that the scrolling does not affect the parent element when the boundary is reached. However, it still allows the browser to perform the default action, such as a bounce effect or a page refresh.
none: It prevents both scroll chaining and the default action. The scrolling stops abruptly when the boundary is reached. */
  list-style: none;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container::-webkit-scrollbar {
  width: 0; /* hid the scroll bar button */
}

/* SIDEBAR */
.sidebar {
  background-color: var(--background);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.information {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  color: var(--color--orange);
  letter-spacing: 0.1rem;
}
.letter__logo {
  width: 30rem;
}

/* ========form============ */
/* forms */

.form__container {
  transition: all 1s, transform 1ms;
  background-color: var(--background);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hidden {
  transform: translateY(-100rem); /* move th form to the side */
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__label {
  flex: 0 0 45%; /* modify label input size */
  font-size: 2rem;
  font-weight: 600;
  color: #e0e0e0;
}

.form__input {
  width: 11rem;
  padding: 2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 50px;
  background-color: var(--color--orange);
  transition: all 0.5s;
}

.form__input:focus {
  outline: none;
  background-color: #b1b1b1;
}

.form__btn {
  display: none;
}
.reset {
  cursor: pointer;
  background-color: var(--background);
  border: none;
  display: flex;
  align-self: start;
  padding: 1.6rem;
  color: var(--color--letters);
}
/* ============================================================== */

.workout {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  font-size: 2rem;
  gap: 1rem;
}
.workout__background {
  background-color: #a8b8ffc9;
  color: black;
}
.workout__title {
  font-size: 2rem;
  color: var(--color--letters);
}
.workout__icon img {
  width: 50px;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--color--orange);
  color: var(--color-dark--2);
  font-weight: 600;
  border: 3px solid var(--background);
}
.numbers {
  color: var(--background);
  font-weight: 600;
  font-size: 2rem;
  font-style: italic;
}

/* ===================================== */
/* footer */
footer {
  margin-top: 10rem;
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  height: 12rem;
  background-color: var(--background);
}
.wave {
  position: absolute;
  top: -70px;
  width: 100%;
  height: 10rem;
}
.btn__footer {
  margin: 3px;
  border: none;
  padding: 5px;
  background-color: var(--background);
  border-radius: 50%;
}

.icon_contacts {
  width: 2rem;
}
.copyright {
  width: 100%;

  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 52em) {
  .information__touch {
    font-size: 2rem;
  }
  .letter__logo {
    display: none;
  }
  .form__container {
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    align-items: center;
  }
  .form__label {
    flex: 0 0 53%;
    margin-right: 1rem;
    font-size: 3rem;
    font-weight: 600;
    color: #e0e0e0;
  }
  .form__input {
    width: 11rem;
    padding: 2rem;
    font-family: inherit;
    font-size: 2.4rem;
  }
  .workout {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 3rem;
    gap: 1.3rem;
  }
}
